* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.board {
  width: 600px;
  height: 600px;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;
}
.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-family: sans-serif;
  /* user-select: none; */
  /* -webkit-user-select: none;
  -ms-user-select: none; */
}
/* .x,
.o {
} */
